*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #f870d1 0%, #6697eb 100%);
    overflow: hidden;
}
.container{
    max-width: 350px;
    height: auto;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0,0, 0.5);
    border-radius: 20px;
    padding: 1rem;
}
.main-title{
    color: #f58dd7;
    text-decoration: underline;
}
.main-title,
.paragraph{
    text-align: center;
}
.search{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.form{
    display: flex;
}
.input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 0 2px black;
    font-size: 1.2rem;
}
.btn-add{
    padding: 15px 10px;
    width: 90px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: #fff;
    font-size: 2rem;
    background-color: #6697eb;
    box-shadow: 0 0 2px black;
}
.btn-delete{
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    font-size: 1.2em;
}
li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
  }
  
.li-container{
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}
li p{
  margin: 0;
  padding: 15px;
  width: 100%;
  font-size: 1.5rem;
}
.menu{
    padding: 0;
}